.main
  .main__header
    .main__header-group
      .main__header-group-name
        グループ名
      .main__header-group-edit-btn{href: '/'}
        Edit
      .main__header-member
        メンバー名が表示される


  .main__body
    .main__body-message
      .main__body-message-name

      .main__body-message-time

      .main__body-message-body

        %p.lower-message__content



  .main__footer
    .main__footer-form
      .main__footer-body
        %input{type: "text", placeholder: "type a message",class:"main_footer-message"}
        %label.upload-label{for: "upload-icon",}
        %input_image.image{name: "message", type: "file"}/
        .main__footer-icon
          %i.fa.fa-image{href: '/'}
        %input.submit{type: "submit", value: "Send"}
